/* #div1{
    flex: 1;
}
#div2{flex: 1;}
.grid{
    display:block;
    
    
}


@media(min-width:768px){
    .grid{
        display:flex;
    }
}
@media(min-width:990px){
    .grid{
        grid-template-areas: "col1 col2 col3";
    }
} */


/* 
.logo{
    grid-area: logo;
}
.menu-icon{grid-area: button; text-align: right;}
.menu{grid-area:menu;}

.mainmenu{
    display:grid;
    grid-template-areas:"logo button"
                        "menu menu";
    
    }
@media(min-width:992px){
    .mainmenu{
        grid-template-areas: "logo menu";
    }
} */


