
/* html ,body {
  background-color: #FF7373;
    color : #222529;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:300;
    font-size: 16px;
} */
/*
överrustar 

*/

  a{
   color: #FF7373;
   text-decoration: none;
  }
  a.hover{
    text-decoration: underline;
  }

  .Link-circle {
    background-color: #ffffff;
    color:  #222529;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1);
  }

  .Link-circle:hover{
    background-color:  #222529;
    color: #ffffff;
    text-decoration: none;
  }


  #header {
          padding-top: 20px;
         padding-bottom: 20px;
         background-color: #FF7373;
     }

     #header .container{
        display: flex;
         justify-content: space-between;
           align-items: center;
      }
     #header .container .logotype{
        font-size: 35px;
        font: weight 700px;
           }

           #header .container .menu{
            font-weight: 500;
           }

           #header .container .menu a{
              color: #222529;
              margin: 0 15px;  
           }

           #header .container .menu a:hover, 
           #header .container .menu .active{
                color: #FF7373;
                text-decoration: none;
           }
           #header .container .menu-icons{
            display: flex;
            color:#222529;
           }
           #header .container .menu-icons .Link-circle{
            margin-left: 10px;
            
          }

