@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

@mixin font-default {
    font-size:1em;
    font-weight: $font-weight-regular;
    font-family: $font-poppins;

}

@mixin font-headline-1 {
    font-size:4.063em;
    font-weight: $font-weight-regular;
    font-family: $font-poppins;
    
}
@mixin font-headline-2 {
    font-size:2.188em;
    font-weight: $font-weight-bold;
    font-family: $font-poppins;
    
}